</head>
    
<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class = "navbar-brand" href = "/">
            <img class = "brand-image" src="https://res.cloudinary.com/dyokara/image/upload/v1608443169/App/logo_qfl0r9.jpg">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-container" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation-container">
            <ul class="navbar-nav left">
                <li class="nav-item">
                    <a class="nav-link" href = "/products">Products</a>
                </li>
                <% if(currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href = "/users/<%= currentUser._id %>/cart">Cart(<%= currentUser.cart.length %>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href = "/users/<%= currentUser._id %>/wishlist">Wishlist(<%= currentUser.wishlist.length %>)</a>
                    </li>
                <% } %>
            </ul>

            <ul class="navbar-nav center ml-auto mr-auto">
                <li class="nav-item">
                    <a class="nav-link pl-0" href = "/">
                        <img class = "brand-image" src="https://res.cloudinary.com/dyokara/image/upload/v1608443169/App/logo_qfl0r9.jpg">
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav right">
                <% if(currentUser){ %>
                    <li class="nav-item dropdown" id = "navDropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logged in as: <%= currentUser.username %>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href = "/logout">Log Out</a>
                            <a class="dropdown-item" href = "/login/details/edit">Edit Details</a>
                            <% if(currentUser.isAdmin){ %>
                                <a class="dropdown-item" href = "/orders">Orders</a>
                            <% } %>
                        </div>
                    </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href = "/login">Sign In</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert error">
            <%= error %>
        </div>
        <% } %>
    
        <% if(success && success.length > 0){ %>
        <div class="alert success">
            <%= success %>
        </div>
        <% } %>
    </div>