<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/form.css">
<link rel="stylesheet" href="/stylesheets/app.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class="form-container">
        <h1 class = "form-heading mb-5">
            <p>
                Verify bank account number 
            </p>
            <p>
                for transaction
            </p>
        </h1>
        <form action="/payments/edit/directTransfer?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label class = "label" for = "bankAccountNo">Account Number</label>
                <input class = "form-input" type="text" name="bankAccountNo" id = "bankAccountNo" value = "<%= (currentUser.bankAccountNo) ? currentUser.bankAccountNo : "" %>" required>
            </div>
            <div class="field">
                <label class = "label" for = "shippingAddress">Shipping Address</label>
                <textarea class="form-input" name = "shippingAddress" id = "shippingAddress" rows="5" required><%= currentUser.shippingAddress %></textarea>
            </div>
            <button class = "ui button submit" type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include("../partials/footer"); %>