<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/adminIndex.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class = "box header-box">
        <div class = "main-heading"><a href = "/categories" class = "link"><%= category.name %></a></div>
    </div>

    <% if(lineups.length != 0){ %>
        <div class = "order order-header">
            <div class="order-details">
                <span class = "order-field">Lineup Number</span>
            </div>

            <div class="order-details">
                <span class = "order-field">Name</span>
            </div>
    
            <div class="order-details">
                <span class = "order-field">Products</span>
            </div>
    
            <div class="order-status">
                <span class = "order-field">Edit</span>
            </div>
            
            <div class="order-status">
                <span class = "order-field">Production</span>
            </div>
        </div>

        <% lineups.forEach(lineup => { %>
            <div class = "order">
                <div class="order-details number">
                    <span class = "order-field"><%= lineup.lineupNumber %></span>
                </div>

                <div class="order-details number">
                    <a href = "/lineups/<%= lineup._id %>" class = "order-field link"><%= lineup.name %></a>
                </div>
        
                <div class="order-details number">
                    <span class = "order-field"><%= lineup.products.length %></span>
                </div>
                
                <div class="order-status">
                    <a href = "/lineups/<%= lineup._id %>/edit" class="ui button order-status">
                        <i class = "fas fa-edit"></i>
                    </a>
                </div>

                <div class="order-status">
                    <a href = "/lineups/<%= lineup._id %>/edit/production" class="ui button order-status">
                        <i class="fas fa-hammer"></i>
                    </a>
                </div>
            </div>
        <% }) %>
    <% }else{ %>
        <div class = "col-12 text-center display-4">No lineups yet!</div>
    <% } %>

    <div class = "my-5">
        <a href="/categories/<%= category._id %>/lineups/new" class="ui button">New Lineup</a>
    </div>
</div>

<%- include("../partials/footer"); %>