<h1>
	Cart
</h1>

<% cart.forEach(function(item){%>
	<div>
		<li><%=item.product.name%></li>
		<img src="<%=item.product.image%>">
        <li>Rs <%=item.product.price%></li>
        <li>Qty: <%=item.quantity%></li>
	</div>
	<form id="delete-form" action="/users/<%= currentUser._id %>/cart/products/<%=item.product._id%>?_method=DELETE" method="POST">
		<input type="submit" class="btn btn-xs btn-danger" value="Delete">
    </form>
<%})%>

<form action="/users/<%= currentUser._id %>/cart/checkout" method="POST">
    <button type="submit">Proceed to checkout</button>
</form>

<a href="/products">Back</a>