<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/bag.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <% if(cart.length == 0){ %>
        <div class = "heading bag-heading m-auto">Your cart is empty</div>
    <% }else{ %>
        <div class = "box header-box mb-5">
            <div class = "main-heading">Cart</div>
        </div>
    <% } %>

    <% cart.forEach(item => { %>
        <div class = "item">
            <h1 class = "text-center item-name section-heading"><%= item.product.name %></h1>

            <div class = "item-primary-container">
                <div class = "item-image-container">
                    <a href='/products/<%= item.product._id %>''>
                        <img class="item-image" src = "<%= item.product.images[0].url %>">
                    </a>
                </div>
    
                <div class="item-details container">
                    <div class="row item-row">
                        <div class = "col-4 item-column">
                            <div class = "row item-details-row"><%= item.product.size %></div>
                            <div class = "mt-3 row item-details-row">Quantity</div> 
                            <div class = "mt-3 row item-details-row">
                                <input type="number" name="quantity" class = "text-center" value = "<%= item.quantity %>" min="1" max="10" step="1">
                            </div>
                            <div class = "mt-3 row item-details-row item-final-small"><%= item.customisation === 'Custom' ? '(Custom)' : '(Standard)' %></div>
                        </div>
    
                        <div class = "col-4 item-column">
                            <div class = "row item-details-row"><%= item.product.colour %></div>
                            <div class = "mt-3 row item-details-row">Unit Price</div> 
                            <div class = "mt-3 row item-details-row">
                                Rs <%= item.product.price %>
                            </div>
                            <div class = "mt-3 row item-details-row item-final-small">
                                <form action = "/users/<%= currentUser._id %>/cart/products/<%= item.product._id %>?_method=DELETE" method = "POST">
                                    <button class = "ui button delete" type="submit">Remove</button>
                                </form>
                            </div> 
                        </div>
    
                        <div class = "col-4 item-column item-column-final item-final-big">
                            <div class = "row item-details-row"><%= item.customisation === 'Custom' ? '(Custom)' : '(Standard)' %></div>
                            <div class = "mt-3 row item-details-row">
                                <form action = "/users/<%= currentUser._id %>/cart/products/<%= item.product._id %>?_method=DELETE" method = "POST">
                                    <button class = "ui button delete" type="submit">Remove</button>
                                </form>
                            </div> 
                        </div>
                    </div>
    
                    <div class = "d-none item-id"><%= item.product._id %></div>
                </div>
            </div>
        </div>
    <% }) %>

    <% if(cart.length > 0){ %>
        <div class = "my-5">
            <form action="/users/<%= currentUser._id %>/cart/checkout" method="POST">
                <button class = "ui button checkout" type="submit">Proceed to checkout</button>
            </form>
        </div>
    <% } %>
</div>

<div class = "d-none" id = "user-id"><%= currentUser._id %></div>

<script src = "/scripts/edit.js"></script>

<%- include("../partials/footer"); %>