<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/bag.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class = "bag-header">
        <% if(cart.length == 0){ %>
            <div class = "heading bag-heading m-auto">Your cart is empty</div>
        <% }else{ %>
            <div class = "heading bag-heading">Your items</div>
            <div>
                <form action="/users/<%= currentUser._id %>/cart/checkout" method="POST">
                    <button class = "ui button checkout" type="submit">Proceed to checkout</button>
                </form>
            </div>
        <% } %>
    </div> 

    <% cart.forEach(item => { %>
        <div class = "item">
            <div style = "background-image: url('<%= item.product.images[0].url %>');" class="item-image"></div>
            <div class="item-details">
                <div class = "item-details-container">
                    <div class = "item-details-name overflow">
                        <a href = "/products/<%= item.product._id %>" class = "link"><%= item.product.name %><%= item.customisation === 'Custom' ? '(Custom)' : '' %></a>
                    </div>
                    <div class = "item-sub_details">
                        <div><%= item.product.size %></div>
                        <div><%= item.product.colour %></div>
                    </div>
                </div>
                <div class = "mt-3">
                    Quantity: <input type="number" name="quantity" class = "item-details-quantity" value = "<%= item.quantity %>" min="1" max="10" step="1">
                </div>
                <div class = "item-final-container">
                    <div class = "item-details-price">Unit Price: Rs <%= item.product.price %></div>
                    <div>
                        <form action = "/users/<%= currentUser._id %>/cart/products/<%= item.product._id %>?_method=DELETE" method = "POST">
                            <button class = "ui button delete" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
                <div class = "d-none item-id"><%= item.product._id %></div>
            </div>
        </div>
    <% }) %>
</div>

<div class = "d-none" id = "user-id"><%= currentUser._id %></div>

<script src = "/scripts/edit.js"></script>

<%- include("../partials/footer"); %>