<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/orderDisplay.css"/>
<link rel="stylesheet" href="/stylesheets/previousOrderDisplay.css"/>

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class = "box header-box primary">
        <div class = "main-heading">Order History</div>
    </div>

    <% if(orders.length !== 0){ %>
        <% orders.forEach(order => { %>
            <div class = "box header-box mt-5">
                <div class = "main-heading">
                    <span>Order Number: </span> 
                    <span class="semi-bold"><%= order.orderNumber %></span>
                </div>
                <div class = "sub-heading d-flex justify-content-around">
                    <div>
                        <span>Date: </span>
                        <span class="semi-bold"><%= order.orderDate.toDateString() %></span>
                    </div>

                    <div>
                        <span>Total: </span>
                        <span class="semi-bold">Rs <%= order.total %></span>
                    </div>
                </div>
            </div>

            <div class = "box header-box order-box mt-5">
                <% order.items.forEach(item => { %>
                    <div class = "item order-item">
                        <h1 class = "text-center item-name section-heading"><%= item.product.name %></h1>
    
                        <div class="item-primary-container">
                            <div class = "item-image-container">
                                <a href='/products/<%= item.product._id %>''>
                                    <img class="item-image" src = "<%= item.product.images[0].url %>">
                                </a>
                            </div>

                            <div class="item-details">
                                <div>
                                    <div class = "item-sub_details">
                                        <div class = "item-size">
                                            <span>Size: </span><span class="semi-bold"><%= item.product.size %></span>
                                        </div>
                
                                        <div class = "item-quantity">
                                            <span>Quantity: </span><span class="semi-bold"><%= item.quantity %></span>
                                        </div>
                                    </div>
                
                                    <div class = "item-sub_details">
                                        <div class = "item-colour">
                                            <span>Colour: </span><span class="semi-bold"><%= item.product.colour %></span>
                                        </div>
                
                                        <div class = "item-price">
                                            <span>Price: </span><span class="semi-bold">Rs <%= item.purchasePrice %></span>
                                        </div>
                                    </div>
        
                                    <div class = "item-customisation w-100 text-center">
                                        <span class="bold"><%= item.customisation === 'Custom' ? '(Custom)' : '(Standard)' %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    <% }else{ %>
        <h2 class = "mx-auto">You have no previous orders</h2>
    <% } %>
</div>

<%- include("../partials/footer"); %>