<h1>
	Wishlist
</h1>

<% wishlist.forEach(function(item){%>
	<div>
		<li><%=item.product.name%></li>
		<img src="<%=item.product.image%>">
		<li>Rs <%=item.product.price%></li>
        <li>Qty: <%=item.quantity%></li>
	</div>
	<form id="delete-form" action="/users/<%= currentUser._id %>/wishlist/products/<%=item.product._id%>?_method=DELETE" method="POST">
		<input type="submit" class="btn btn-xs btn-danger" value="Delete">
    </form>
    <form action="/users/<%= currentUser._id %>/wishlist/products/<%=item.product._id%>/move" method="POST">
		<button type="submit">Add to cart</button>
	</form>
<br/>
<br/>
<br/>
<br/>
	
<%})%>


<a href="/products">Back</a>