<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/bag.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class = "bag-header">
        <% if(wishlist.length == 0){ %>
            <div class = "heading bag-heading mx-auto">Your wishlist is empty</div>
        <% }else{ %>
            <div class = "heading bag-heading mx-auto">Wishlist</div>
        <% } %>
    </div> 

    <% wishlist.forEach(item => { %>
        <div class = "item">
            <div style = "background-image: url('<%= item.product.images[0].url %>');" class="item-image"></div>
            <div class="item-details">
                <div class = "item-details-container">
                    <div class = "item-details-name overflow">
                        <a href = "/products/<%= item.product._id %>" class = "link"><%= item.product.name %></a>
                    </div>
                    <div class = "item-sub_details">
                        <div><%= item.product.size %></div>
                        <div><%= item.product.colour %></div>
                        <div><%= item.customisation === 'Custom' ? '(Custom)' : '' %></div>
                    </div>
                </div>
                <div class = "my-auto">
                    <div class = "item-details-price">Unit Price: Rs <%= item.product.price %></div>
                </div>
                <div class = "item-final-container">
                    <form action="/users/<%= currentUser._id %>/wishlist/products/<%=item.product._id%>/move" method="POST">
                        <button class = "ui button move" type="submit">Move to Cart</button>
                    </form>
                    <div>
                        <form action = "/users/<%= currentUser._id %>/wishlist/products/<%= item.product._id %>?_method=DELETE" method = "POST">
                            <button class = "ui button delete" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
                <div class = "d-none item-id"><%= item.product._id %></div>
            </div>
        </div>
    <% }) %>
</div>

<div class = "d-none" id = "user-id"><%= currentUser._id %></div>

<script src = "/scripts/edit.js"></script>

<%- include("../partials/footer"); %>

<!-- <h1>
	Wishlist
</h1>

<% wishlist.forEach(function(item){%>
	<div>
		<li><%=item.product.name%></li>
		<img src="<%=item.product.image%>">
		<li>Rs <%=item.product.price%></li>
        <li>Qty: <%=item.quantity%></li>
	</div>
	<form id="delete-form" action="/users/<%= currentUser._id %>/wishlist/products/<%=item.product._id%>?_method=DELETE" method="POST">
		<input type="submit" class="btn btn-xs btn-danger" value="Delete">
    </form>
    <form action="/users/<%= currentUser._id %>/wishlist/products/<%=item.product._id%>/move" method="POST">
		<button type="submit">Add to cart</button>
	</form>
<br/>
<br/>
<br/>
<br/>
	
<%})%>


<a href="/products">Back</a> -->