<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/adminIndex.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <% if(orders.length != 0){ %>
        <div class = "order order-header">
            <div class="order-details">
                <span class = "order-field">Order Number</span>
                <span class = "order-field">Phone Number</span>
            </div>
    
            <div class="order-details">
                <span class = "order-field">Customer Name</span>
                <span class = "order-field">Total Amount</span>
            </div>
        </div>

        <% orders.forEach(order => { %>
            <div class = "order <%= (order.delivered) ? 'success' : 'error' %>">
                <div class="order-details number">
                    <a href = "/orders/<%= order._id %>" class = "order-field link"><%= order.orderNumber %></a>
                    <span class = "order-field"><%= order.customer.phoneNumber %></span>
                </div>
        
                <div class="order-details number">
                    <span class = "order-field"><%= order.customer.username %></span>
                    <span class = "order-field">Rs <%= order.total %></span>
                </div>
            </div>
        <% }) %>
    <% }else{ %>
        <div class = "col-12 text-center display-4">No pending orders!</div>
    <% } %>
</div>

<%- include("../partials/footer"); %>