<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/form.css"/>
<link rel="stylesheet" href="/stylesheets/app.css"/>
<link rel="stylesheet" href="/stylesheets/longForm.css"/>

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class="form-container">
        <h1 class = "form-heading mb-5">Edit Product</h1>
        <form action = "/products/<%= product._id %>?_method=PUT" method = "POST" class = "ui form">
            <div class="field">
                <label for="productNumber">Lineup Number</label>
                <input type="text" name = "product[lineupNumber]" class="form-input" id="lineupNumber" value = "<%= product.lineupNumber %>" required disabled>
            </div>

            <div class="field">
                <label for="category">Category</label>
                <input type="text" name = "product[category]" class="form-input" id="category" value = "<%= product.category %>" required disabled>
            </div>
            
            <div class="field">
                <label class = "label" for = "name">Name</label>
                <input class = "form-input" type="text" name="product[name]" id = "name" value = "<%= product.name %>" required>
            </div>

            <div class="field">
                <label for="price">Price</label>
                <input type="text" name = "product[price]" class="form-input" id="price" value = "<%= product.price %>" required>
            </div>

            <div class="field">
                <label for="size">Size</label>
                <input type="text" name = "product[size]" class="form-input" id="size" value = "<%= product.size %>" required disabled>
            </div>
    
            <div class="field">
                <label for="colour">Colour</label>
                <input type="text" name = "product[colour]" class="form-input" id="colour" value = "<%= product.colour %>" required disabled>
            </div>
    
            <div class="field">
                <label for="noOfItems">Number of units</label>
                <input type="number" name = "product[noOfUnits]" class="form-input" id="noOfUnits" value = "<%= product.noOfUnits %>" min = "1">
            </div>
    
            <div class="field">
                <label for="description">Detailed Description (1 paragraph)</label>
                <textarea class="form-input" name = "product[description]" id = "description" required><%= product.description %></textarea>
            </div>

            <h2 class = "input-heading">In Production?</h2>

            <div class="d-none" id = "production_status"><%= product.production %></div>

            <div class="d-none" id = "stock_status"><%= product.stock %></div>

            <div class="grouped fields production">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="product[production]" tabindex="0" class="hidden" value = "Yes" id = "production_yes">
                        <label for="production_yes">Yes</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="product[production]" tabindex="0" class="hidden" value = "No" id = "production_no">
                        <label for="production_no">No</label>
                    </div>
                </div>
            </div>

            <h2 class = "input-heading">In Stock?</h2>

            <div class="grouped fields stock">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="product[stock]" tabindex="0" class="hidden" value = "Yes" id = "stock_yes">
                        <label for="stock_yes">Yes</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="product[stock]" tabindex="0" class="hidden" value = "No" id = "stock_no">
                        <label for="stock_no">No</label>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="dimensions">Dimensions</label>
                <input type="text" name = "product[dimensions]" class="form-input" id="dimensions" value = "<%= product.specifications["Dimensions"] %>" placeholder="Height x Width">
            </div>
    
            <div class="field">
                <label for="wood">Type of Wood</label>
                <input type="text" name = "product[wood]" class="form-input" id="wood" value = "<%= product.specifications["Type of wood"] %>">
            </div>
            
            <div class="field">
                <label for="shape">Shape</label>
                <input type="text" name = "product[shape]" class="form-input" id="shape" value = "<%= product.specifications["Shape"] %>">
            </div>
    
            <div class="field">
                <label for="mount">Mount Mechanism</label>
                <input type="text" name = "product[mount]" class="form-input" id="mount" value = "<%= product.specifications["Mounting Mechanism"] %>">
            </div>
    
            <div class="field">
                <label for="finish">Type of Finish</label>
                <input type="text" name = "product[finish]" class="form-input" id="finish" value = "<%= product.specifications["Finish"] %>">
            </div>
    
            <div class="field">
                <label for="weight">Weight (in kg)</label>
                <input type="text" name = "product[weight]" class="form-input" id="weight" required value = "<%= product.specifications["Weight (in kg)"] %>">
            </div>

            <button class = "ui button submit" type="submit">Save</button>
        </form>
    </div>
</div>

<script>
    const stockStatus = document.getElementById("stock_status").innerText;
    const stockRadioButtons = document.getElementsByName("product[stock]");

    const productionStatus = document.getElementById("production_status").innerText;
    const productionRadioButtons = document.getElementsByName("product[production]");

    for(let index = 0; index < stockRadioButtons.length; index++) 
    {
        if(stockStatus === stockRadioButtons[index].value)
        {
            stockRadioButtons[index].checked = true;
        }
    }

    for(let index = 0; index < productionRadioButtons.length; index++) 
    {
        if(productionStatus === productionRadioButtons[index].value)
        {
            productionRadioButtons[index].checked = true;
        }
    }
</script>

<%- include("../partials/footer"); %>