<div>
	<h1>
		<%=product.name%>
	</h1>
	<img src="<%= product.image %>" height = 300>
	<li>$<%=product.price%></li>
</div>
<br/>
<br/>

<h2>Reviews</h2>

<% product.reviews.forEach(function(review){%>
	<p><strong><%= review.author.username%></strong> - <%= review.text%></p>
<%})%>

<form action="/users/<%=currentUser._id%>/cart/products/<%=product._id%>" method="POST">
	<button type="submit">Add to cart</button>
</form>

<br/>

<form action="/products/<%= product._id %>/checkout" method="POST">
    <button type="submit">Buy now</button>
</form>

<br/>
<a href="/products/<%=product._id%>/reviews/new">Review</a>
<br/>

<form action="/users/<%=currentUser._id%>/wishlist/products/<%=product._id%>" method="POST">
	<button type="submit">Add to Wishlist</button>
</form>


<a href="/users/<%= currentUser._id%>/wishlist/products/<%=product._id%>">Wishlist</a>

<br/>
<a href="/products">Back</a>